<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div>
  <% if can? :update, group %>
    <%= link_to "Edit this payment", edit_payment_path(@payment) %>
  <%end%>
  <%= link_to "Back to payments", payments_path %>
  <% if can? :delete, group %>
    <%= button_to "Destroy this payment", @payment, method: :delete %>
  <%end%>
</div>
